    <!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>


<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <a href="@Url.Action("Index", "Home")"><img src="~/Content/img/logo.png" alt=""></a>
    </div>
    <div class="humberger__menu__cart">
        <ul>
            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
            <li><a href="@Url.Action("ShoppingCartPage", "ShoppingCart")"><i class="fa fa-shopping-bag"></i> <span>@(Session["Cart"] != null ? ((List<WebBanGiay.Models.model_class.CartItem>)Session["Cart"]).Count : 0)</span></a></li>
        </ul>
        <div class="header__cart__price">item: <span>@(Session["Cart"] != null ? ((List<WebBanGiay.Models.model_class.CartItem>)Session["Cart"]).Sum(item => item.TotalPrice).ToString("N0") + " VNĐ" : "0 VNĐ")</span></div>
    </div>
    <div class="humberger__menu__widget">
        <div class="header__top__right__language">
            <img src="~/Content/img/language.png" alt="">
            <div>English</div>
            <span class="arrow_carrot-down"></span>
            <ul>
                <li><a href="#">Spanis</a></li>
                <li><a href="#">English</a></li>
            </ul>
        </div>
                                <div class="header__top__right__auth">
                            @if (Session["Email"] != null)
                            {
                                <a href="@Url.Action("LoginPage", "Account")"><i class="fa fa-user"></i> @Session["Email"]</a>
                                <a href="@Url.Action("OrderAccountPage", "OrderAccount")" style="margin-left: 10px;"><i class="fa fa-list"></i> Đơn hàng</a>
                                <a href="@Url.Action("Logout", "Account")" style="margin-left: 10px;"><i class="fa fa-sign-out"></i> Đăng xuất</a>
                            }
                            else
                            {
                                <a href="@Url.Action("LoginPage", "Account")"><i class="fa fa-user"></i> Đăng nhập</a>
                            }
                        </div>
    </div>
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            <li class="active"><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
            <li><a href="#">Cửa hàng</a></li>
            <li>
                <a href="#">Trang</a>
                <ul class="header__menu__dropdown">
                    <li><a href="@Url.Action("ShoppingCartPage", "ShoppingCart")">Giỏ hàng</a></li>
                    <li><a href="@Url.Action("Checkoutpage", "CheckOut")">Thanh toán</a></li>
                                                    @if (Session["Email"] != null)
                                {
                                    <li><a href="@Url.Action("AccountDetails", "Account")">Thông tin tài khoản</a></li>
                                    <li><a href="@Url.Action("OrderAccountPage", "OrderAccount")">Đơn hàng của tôi</a></li>
                                    <li><a href="@Url.Action("Logout", "Account")">Đăng xuất</a></li>
                                }
                    else
                    {
                        <li><a href="@Url.Action("LoginPage", "Account")">Đăng nhập</a></li>
                        <li><a href="@Url.Action("Register", "Account")">Đăng ký</a></li>
                    }
                </ul>
            </li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Liên hệ</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="header__top__right__social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-pinterest-p"></i></a>
    </div>
    <div class="humberger__menu__contact">
        <ul>
            <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
            <li>Free Shipping for all Order of $99</li>
        </ul>
    </div>
</div>
<!-- Humberger End -->


<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                            <li>Free Shipping for all Order of $99</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                        <div class="header__top__right__language">
                            <img src="~/Content/img/language.png" alt="">
                            <div>English</div>
                            <span class="arrow_carrot-down"></span>
                            <ul>
                                <li><a href="#">Spanis</a></li>
                                <li><a href="#">English</a></li>
                            </ul>
                        </div>
                        <div class="header__top__right__auth">
                            @if (Session["Email"] != null)
                            {
                                <a href="@Url.Action("LoginPage", "Account")"><i class="fa fa-user"></i> @Session["Email"]</a>
                                <a href="@Url.Action("OrderAccountPage", "OrderAccount")" style="margin-left: 10px;"><i class="fa fa-list"></i> Đơn hàng</a>
                                <a href="@Url.Action("Logout", "Account")" style="margin-left: 10px;"><i class="fa fa-sign-out"></i> Đăng xuất</a>
                            }
                            else
                            {
                                <a href="@Url.Action("LoginPage", "Account")"><i class="fa fa-user"></i> Đăng nhập</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="@Url.Action("Index", "Home")"><img src="~/Content/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                        <li><a href="#">Cửa hàng</a></li>
                        <li>
                            <a href="#">Trang</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="@Url.Action("ShoppingCartPage", "ShoppingCart")">Giỏ hàng</a></li>
                                <li><a href="@Url.Action("Checkoutpage", "CheckOut")">Thanh toán</a></li>
                                @if (Session["Email"] != null)
                                {
                                    <li><a href="@Url.Action("AccountDetails", "Account")">Thông tin tài khoản</a></li>
                                    <li><a href="@Url.Action("OrderAccountPage", "OrderAccount")">Đơn hàng của tôi</a></li>
                                    <li><a href="@Url.Action("Logout", "Account")">Đăng xuất</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("LoginPage", "Account")">Đăng nhập</a></li>
                                    <li><a href="@Url.Action("Register", "Account")">Đăng ký</a></li>
                                }
                            </ul>
                        </li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Liên hệ</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                        <li><a href="@Url.Action("ShoppingCartPage", "ShoppingCart")"><i class="fa fa-shopping-bag"></i> <span>@(Session["Cart"] != null ? ((List<WebBanGiay.Models.model_class.CartItem>)Session["Cart"]).Count : 0)</span></a></li>
                    </ul>
                    <div class="header__cart__price">item: <span>@(Session["Cart"] != null ? ((List<WebBanGiay.Models.model_class.CartItem>)Session["Cart"]).Sum(item => item.TotalPrice).ToString("N0") + " VNĐ" : "0 VNĐ")</span></div>
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->


<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Tất cả danh mục</span>
                    </div>
                    <ul>
                        @if (ViewBag.Categories != null)
                        {
                            foreach (var category in ViewBag.Categories)
                            {
                                <li><a href="#">@category.CategoryName</a></li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                Tất cả danh mục
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input type="text" placeholder="Bạn cần tìm gì?">
                            <button type="submit" class="site-btn">TÌM KIẾM</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+65 11.188.888</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>
                <div class="hero__slider owl-carousel">
                    <div class="hero__item set-bg" data-setbg="@Url.Content("~/Content/img/banner/banner-1.jpg")">
                        <div class="hero__text">
                            <span>GIÀY CHÍNH HÃNG</span>
                            <h2>Thời trang <br />100% Chất lượng</h2>
                            <p>Miễn phí vận chuyển cho đơn hàng từ 500K</p>
                            <a href="#" class="primary-btn">MUA NGAY</a>
                        </div>
                    </div>

                    <div class="hero__item set-bg" data-setbg="@Url.Content("~/Content/img/banner/banner-2.jpg")">
                        <div class="hero__text">
                            <span>GIÀY THỂ THAO</span>
                            <h2>Phong cách <br />Năng động</h2>
                            <p>Khám phá bộ sưu tập giày thể thao mới nhất</p>
                            <a href="#" class="primary-btn">KHÁM PHÁ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->


<!-- Brands Section Begin -->
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                @if (ViewBag.Brands != null && ((List<WebBanGiay.Models.Brand>)ViewBag.Brands).Any())
                {
                    foreach (var brand in ViewBag.Brands)
                    {
                        <div class="col-lg-3">
                            <div class="categories__item set-bg" data-setbg="~/Content/img/categories/cat-1.jpg">
                                <h5><a href="#">@brand.BrandName</a></h5>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="col-12 text-center">
                        <p>Chưa có thương hiệu nào được hiển thị.</p>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- Brands Section End -->


<!-- Featured Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Sản phẩm nổi bật</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        <li class="active" data-filter="*">Tất cả</li>
                        @if (ViewBag.Categories != null)
                        {
                            foreach (var category in ViewBag.Categories)
                            {
                                var categoryClass = category.CategoryName?.ToLower().Replace(" ", "-") ?? "default";
                                <li data-filter=".@categoryClass">@category.CategoryName</li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="row featured__filter">
                @if (ViewBag.FeaturedProducts != null && ((List<WebBanGiay.Models.Product>)ViewBag.FeaturedProducts).Any())
                {
                    foreach (var product in ViewBag.FeaturedProducts)
                    {
                        var brandClass = product.Brand?.BrandName?.ToLower().Replace(" ", "-") ?? "default";
                        
                        <div class="col-lg-3 col-md-4 col-sm-6 mix @brandClass">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="@product.GetFirstImageUrl()">
                                    <ul class="featured__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                        <li><a href="@Url.Action("ProductDetailsPage", "ProductDetails", new { id = product.ProductID })"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="@Url.Action("ProductDetailsPage", "ProductDetails", new { id = product.ProductID })">@product.ProductName</a></h6>
                                    <h5>@(product.HasActiveVariants() ? product.GetMinPrice().ToString("N0") + " VNĐ" : "Liên hệ")</h5>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="col-12 text-center">
                        <p>Chưa có sản phẩm nào được hiển thị.</p>
                    </div>
                }
        </div>
    </div>
</section>
<!-- Featured Section End -->


<!-- Latest Product Section Begin -->
<section class="latest-product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Latest Products</h4>
                    <div class="latest-product__slider owl-carousel">
                        @if (ViewBag.LatestProducts != null && ((List<WebBanGiay.Models.Product>)ViewBag.LatestProducts).Any())
                        {
                            var latestProducts = ViewBag.LatestProducts as List<WebBanGiay.Models.Product>;
                            var chunkedProducts = latestProducts.Select((product, index) => new { product, index })
                                                              .GroupBy(x => x.index / 3)
                                                              .Select(g => g.Select(x => x.product).ToList())
                                                              .ToList();

                            foreach (var productGroup in chunkedProducts)
                            {
                                <div class="latest-prdouct__slider__item">
                                    @foreach (var product in productGroup)
                                    {
                                        <a href="@Url.Action("ProductDetailsPage", "ProductDetails", new { id = product.ProductID })" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="@product.GetFirstImageUrl()" alt="@product.ProductName">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>@product.ProductName</h6>
                                                <span>@(product.HasActiveVariants() ? product.GetMinPrice().ToString("N0") + " VNĐ" : "Liên hệ")</span>
                                            </div>
                                        </a>
                                    }
                                </div>
                            }
                        }
                        else
                        {
                            <div class="latest-prdouct__slider__item">
                                <p class="text-center">Chưa có sản phẩm mới.</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Top Rated Products</h4>
                    <div class="latest-product__slider owl-carousel">
                        @if (ViewBag.TopRatedProducts != null && ((List<WebBanGiay.Models.Product>)ViewBag.TopRatedProducts).Any())
                        {
                            var topRatedProducts = ViewBag.TopRatedProducts as List<WebBanGiay.Models.Product>;
                            var chunkedProducts = topRatedProducts.Select((product, index) => new { product, index })
                                                                 .GroupBy(x => x.index / 3)
                                                                 .Select(g => g.Select(x => x.product).ToList())
                                                                 .ToList();

                            foreach (var productGroup in chunkedProducts)
                            {
                                <div class="latest-prdouct__slider__item">
                                    @foreach (var product in productGroup)
                                    {
                                        <a href="@Url.Action("ProductDetailsPage", "ProductDetails", new { id = product.ProductID })" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="@product.GetFirstImageUrl()" alt="@product.ProductName">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>@product.ProductName</h6>
                                                <span>@(product.HasActiveVariants() ? product.GetMinPrice().ToString("N0") + " VNĐ" : "Liên hệ")</span>
                                                <small>⭐ @(product.HasApprovedReviews() ? product.GetAverageRating().ToString("F1") : "0.0")</small>
                                            </div>
                                        </a>
                                    }
                                </div>
                            }
                        }
                        else
                        {
                            <div class="latest-prdouct__slider__item">
                                <p class="text-center">Chưa có sản phẩm đánh giá cao.</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Review Products</h4>
                    <div class="latest-product__slider owl-carousel">
                        @if (ViewBag.TopRatedProducts != null && ((List<WebBanGiay.Models.Product>)ViewBag.TopRatedProducts).Any())
                        {
                            var reviewProducts = ViewBag.TopRatedProducts as List<WebBanGiay.Models.Product>;
                            var chunkedProducts = reviewProducts.Select((product, index) => new { product, index })
                                                               .GroupBy(x => x.index / 3)
                                                               .Select(g => g.Select(x => x.product).ToList())
                                                               .ToList();

                            foreach (var productGroup in chunkedProducts)
                            {
                                <div class="latest-prdouct__slider__item">
                                    @foreach (var product in productGroup)
                                    {
                                        <a href="@Url.Action("ProductDetailsPage", "ProductDetails", new { id = product.ProductID })" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="@product.GetFirstImageUrl()" alt="@product.ProductName">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>@product.ProductName</h6>
                                                <span>@(product.HasActiveVariants() ? product.GetMinPrice().ToString("N0") + " VNĐ" : "Liên hệ")</span>
                                                <small>@product.GetReviewCount() reviews</small>
                                            </div>
                                        </a>
                                    }
                                </div>
                            }
                        }
                        else
                        {
                            <div class="latest-prdouct__slider__item">
                                <p class="text-center">Chưa có sản phẩm review.</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Product Section End -->


<!-- Blog Section Begin -->
<section class="from-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title from-blog__title">
                    <h2>From The Blog</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="~/Content/img/blog/blog-1.jpg" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">Cooking tips make cooking simple</a></h5>
                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="~/Content/img/blog/blog-2.jpg" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">6 ways to prepare breakfast for 30</a></h5>
                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="~/Content/img/blog/blog-3.jpg" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">Visit the clean farm in the US</a></h5>
                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->