@model WebBanGiay.Models.Customer
@{
    ViewBag.Title = "Chi tiết khách hàng";
    Layout = "~/Areas/NhanVienBanHang/Views/Shared/_Layout_NVBH.cshtml";
}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow">
                <div class="card-header bg-info text-white text-center">
                    <h4>Chi tiết khách hàng</h4>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.FullName)</th>
                                <td>@Html.DisplayFor(m => m.FullName)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.Phone)</th>
                                <td>@Html.DisplayFor(m => m.Phone)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.Address)</th>
                                <td>@Html.DisplayFor(m => m.Address)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.DateOfBirth)</th>
                                <td>@Html.DisplayFor(m => m.DateOfBirth)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.Gender)</th>
                                <td>@Html.DisplayFor(m => m.Gender)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.PreferredSize)</th>
                                <td>@Html.DisplayFor(m => m.PreferredSize)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.PreferredBrand)</th>
                                <td>@Html.DisplayFor(m => m.PreferredBrand)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.Newsletter)</th>
                                <td>@Html.DisplayFor(m => m.Newsletter)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.SMSNotification)</th>
                                <td>@Html.DisplayFor(m => m.SMSNotification)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.IsActive)</th>
                                <td>@Html.DisplayFor(m => m.IsActive)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.CreatedDate)</th>
                                <td>@Html.DisplayFor(m => m.CreatedDate)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.LastLogin)</th>
                                <td>@Html.DisplayFor(m => m.LastLogin)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.Account.Email)</th>
                                <td>@Html.DisplayFor(m => m.Account.Email)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.LoaiKhachHang.LoaiKhachHangName)</th>
                                <td>@Html.DisplayFor(m => m.LoaiKhachHang.LoaiKhachHangName)</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-between">
                        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.CustomerID }, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-secondary" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
