@{
    ViewBag.Title = "ShoppingCartPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .breadcrumb__text h2 {
        color: #333333 !important;
        text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
    }
    
    .breadcrumb__option {
        color: #555555 !important;
        text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
    }
    
    .breadcrumb__option a {
        color: #333333 !important;
        text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
    }
    
    .breadcrumb__option span {
        color: #555555 !important;
        text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
    }
    
    /* Shopping Cart Responsive Design */
    
    /* Desktop (1200px and above) */
    @@media (min-width: 1200px) {
        .shoping__cart__item img {
            max-width: 120px;
            
            height: auto;
            border-radius: 8px;
            border: 1px solid #e0e0e0;
        }
        
        .shoping__cart__item h5 {
            font-size: 25px;
            margin: 8px 0 4px 0;
        }
        
        .shoping__cart__item small {
            font-size: 15px;
        }
    }
    
    /* Tablet (768px - 1199px) */
    @@media (max-width: 1199px) and (min-width: 768px) {
        .shoping__cart__item img {
            max-width: 100px;
            height: auto;
            border-radius: 6px;
        }
        
        .shoping__cart__item h5 {
            font-size: 16px;
            margin: 6px 0 3px 0;
        }
        
        .shoping__cart__item small {
            font-size: 13px;
        }
        
        .shoping__cart__table {
            font-size: 14px;
        }
        
        .pro-qty input {
            width: 50px;
            padding: 6px;
        }
    }
    
    /* Mobile Large (576px - 767px) */
    @@media (max-width: 767px) and (min-width: 576px) {
        .shoping__cart__item img {
            max-width: 80px;
            height: auto;
            border-radius: 4px;
        }
        
        .shoping__cart__item h5 {
            font-size: 15px;
            margin: 5px 0 2px 0;
        }
        
        .shoping__cart__item small {
            font-size: 12px;
        }
        
        .shoping__cart__table {
            font-size: 13px;
        }
        
        .pro-qty input {
            width: 45px;
            padding: 5px;
            font-size: 12px;
        }
        
        .shoping__cart__price,
        .shoping__cart__total {
            font-size: 14px;
            font-weight: 600;
        }
    }
    
    /* Mobile Small (up to 575px) */
    @@media (max-width: 575px) {
        .shoping__cart__table {
            display: block;
            overflow-x: auto;
            white-space: nowrap;
        }
        
        .shoping__cart__table table {
            min-width: 500px;
        }
        
        .shoping__cart__item {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        
        .shoping__cart__item img {
            max-width: 60px;
            height: auto;
            border-radius: 4px;
            flex-shrink: 0;
        }
        
        .shoping__cart__item h5 {
            font-size: 14px;
            margin: 4px 0 2px 0;
            word-wrap: break-word;
            max-width: 120px;
        }
        
        .shoping__cart__item small {
            font-size: 11px;
            display: block;
            line-height: 1.3;
        }
        
        .shoping__cart__table {
            font-size: 12px;
        }
        
        .pro-qty input {
            width: 40px;
            padding: 4px;
            font-size: 11px;
        }
        
        .shoping__cart__price,
        .shoping__cart__total {
            font-size: 13px;
            font-weight: 600;
        }
        
        .shoping__cart__item__close {
            padding: 5px;
        }
        
        .icon_close {
            font-size: 14px;
        }
    }
    
    /* Extra Small Mobile (up to 480px) */
    @@media (max-width: 480px) {
        .shoping__cart__table table {
            min-width: 450px;
        }
        
        .shoping__cart__item img {
            max-width: 50px;
        }
        
        .shoping__cart__item h5 {
            font-size: 13px;
            max-width: 100px;
        }
        
        .shoping__cart__item small {
            font-size: 10px;
        }
        
        .pro-qty input {
            width: 35px;
            padding: 3px;
            font-size: 10px;
        }
        
        .shoping__cart__price,
        .shoping__cart__total {
            font-size: 12px;
        }
    }
    
    /* Cart buttons responsive */
    @@media (max-width: 767px) {
        .shoping__cart__btns {
            flex-direction: column;
            gap: 10px;
        }
        
        .shoping__cart__btns .primary-btn {
            width: 100%;
            text-align: center;
        }
    }
    
    /* Cart total section responsive */
    @@media (max-width: 767px) {
        .shoping__continue,
        .shoping__checkout {
            margin-top: 20px;
        }
    }
    
    @@media (max-width: 575px) {
        .shoping__checkout h5 {
            font-size: 16px;
        }
        
        .shoping__checkout ul li {
            font-size: 14px;
            padding: 8px 0;
        }
        
        .shoping__checkout .primary-btn {
            padding: 12px 20px;
            font-size: 14px;
        }
    }
</style>

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>


<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <a href="#"><img src="~/Content/img/logo.png" alt=""></a>
    </div>


    <div class="humberger__menu__cart">
        <ul>
            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
            <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
        </ul>
        <div class="header__cart__price">item: <span>$150.00</span></div>
    </div>


    <div class="humberger__menu__widget">
        <div class="header__top__right__language">
            <img src="~/Content/img/language.png" alt="">
            <div>English</div>
            <span class="arrow_carrot-down"></span>
            <ul>
                <li><a href="#">Spanis</a></li>
                <li><a href="#">English</a></li>
            </ul>
        </div>
        <div class="header__top__right__auth">
            <a href="#"><i class="fa fa-user"></i> Login</a>
        </div>
    </div>
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            <li class="active"><a href="./index.html">Home</a></li>
            <li><a href="./shop-grid.html">Shop</a></li>
            <li>
                <a href="#">Pages</a>


                <ul class="header__menu__dropdown">
                    <li><a href="./shop-details.html">Shop Details</a></li>
                    <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                    <li><a href="./checkout.html">Check Out</a></li>
                    <li><a href="./blog-details.html">Blog Details</a></li>
                </ul>
            </li>
            <li><a href="./blog.html">Blog</a></li>
            <li><a href="./contact.html">Contact</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="header__top__right__social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-pinterest-p"></i></a>
    </div>
    <div class="humberger__menu__contact">
        <ul>
            <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
            <li>Free Shipping for all Order of $99</li>
        </ul>
    </div>
</div>
<!-- Humberger End -->


<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                            <li>Free Shipping for all Order of $99</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                        <div class="header__top__right__language">
                            <img src="~/Content/img/language.png" alt="">
                            <div>English</div>
                            <span class="arrow_carrot-down"></span>
                            <ul>
                                <li><a href="#">Spanis</a></li>
                                <li><a href="#">English</a></li>
                            </ul>
                        </div>
                        <div class="header__top__right__auth">
                            <a href="#"><i class="fa fa-user"></i> Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="./index.html"><img src="~/Content/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li><a href="./index.html">Home</a></li>
                        <li class="active"><a href="./shop-grid.html">Shop</a></li>
                        <li>
                            <a href="#">Pages</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="./shop-details.html">Shop Details</a></li>
                                <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                                <li><a href="./checkout.html">Check Out</a></li>
                                <li><a href="./blog-details.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="./blog.html">Blog</a></li>
                        <li><a href="./contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                        <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                    </ul>
                    <div class="header__cart__price">item: <span>$150.00</span></div>
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->



<!-- Hero Section Begin -->
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All departments</span>
                    </div>
                    <ul>
                        <li><a href="#">Fresh Meat</a></li>
                        <li><a href="#">Vegetables</a></li>
                        <li><a href="#">Fruit & Nut Gifts</a></li>
                        <li><a href="#">Fresh Berries</a></li>
                        <li><a href="#">Ocean Foods</a></li>
                        <li><a href="#">Butter & Eggs</a></li>
                        <li><a href="#">Fastfood</a></li>
                        <li><a href="#">Fresh Onion</a></li>
                        <li><a href="#">Papayaya & Crisps</a></li>
                        <li><a href="#">Oatmeal</a></li>
                        <li><a href="#">Fresh Bananas</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                All Categories
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input type="text" placeholder="What do yo u need?">
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+65 11.188.888</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->


<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/Content/img/breadcrumb.jpg?v=@DateTime.Now.Ticks">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Shopping Cart</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Home</a>
                        <span>Shopping Cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->


<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th class="shoping__product">Products</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var cart = ViewBag.Cart as List<WebBanGiay.Models.model_class.CartItem>;
                                if (cart != null && cart.Any())
                                {
                                    foreach (var item in cart)
                                    {
                                        <tr>
                                            <td class="shoping__cart__item">
                                                <img src="@Url.Content(item.ProductImage)" alt="@item.ProductName">
                                                <h5>@item.ProductName</h5>
                                                <small>
                                                    <span>Màu: @item.ColorName</span>
                                                    <span> | Size: @item.SizeName</span>
                                                </small>
                                            </td>
                                            <td class="shoping__cart__price">
                                                $@item.Price.ToString("0.00")
                                            </td>
                                            <td class="shoping__cart__quantity">
                                                <div class="quantity">
                                                    <div class="pro-qty">
                                                        <input type="text" value="@item.Quantity" data-variant-id="@item.VariantID" data-price="@item.Price">
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="shoping__cart__total" id="total-@item.VariantID">
                                                $@item.TotalPrice.ToString("0.00")
                                            </td>
                                            <td class="shoping__cart__item__close">
                                                <span class="icon_close" data-variant-id="@item.VariantID"></span>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="5" class="text-center">
                                            <p>Không có sản phẩm nào trong giỏ hàng</p>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    <a href="#" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                    <a href="#" class="primary-btn cart-btn cart-btn-right">
                        <span class="icon_loading"></span>
                        Upadate Cart
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__continue">
                    <div class="shoping__discount">
                        <h5>Discount Codes</h5>
                        <form action="#">
                            <input type="text" placeholder="Enter your coupon code">
                            <button type="submit" class="site-btn">APPLY COUPON</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5>Cart Total</h5>
                    <ul>
                        <li>Subtotal <span>$@ViewBag.CartTotal.ToString("0.00")</span></li>
                        <li>Total <span>$@ViewBag.CartTotal.ToString("0.00")</span></li>
                    </ul>
                    <a href="#" class="primary-btn">PROCEED TO CHECKOUT</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shoping Cart Section End -->

<script>
$(document).ready(function() {
    // Update quantity
    $('.pro-qty input').on('change', function() {
        const variantId = $(this).data('variant-id');
        const quantity = parseInt($(this).val());
        
        $.ajax({
            url: '@Url.Action("UpdateQuantity", "ShoppingCart")',
            type: 'POST',
            data: { variantId: variantId, quantity: quantity },
            success: function(response) {
                if (response.success) {
                    $('#total-' + variantId).text('$' + response.totalPrice.toFixed(2));
                    $('.shoping__checkout ul li span').last().text('$' + response.cartTotal.toFixed(2));
                    updateCartIcon(response.cartCount);
                } else {
                    alert(response.message);
                }
            }
        });
    });
    
    // Remove item
    $('.icon_close').on('click', function() {
        const variantId = $(this).data('variant-id');
        const row = $(this).closest('tr');
        
        $.ajax({
            url: '@Url.Action("RemoveItem", "ShoppingCart")',
            type: 'POST',
            data: { variantId: variantId },
            success: function(response) {
                if (response.success) {
                    row.remove();
                    $('.shoping__checkout ul li span').last().text('$' + response.cartTotal.toFixed(2));
                    updateCartIcon(response.cartCount);
                    
                    if (response.cartCount === 0) {
                        location.reload();
                    }
                } else {
                    alert(response.message);
                }
            }
        });
    });
});

function updateCartIcon(cartCount) {
    $('.header__cart ul li a i.fa-shopping-bag + span').text(cartCount);
}
</script>
